{% assign date_format = site.date_format | default: "%B %d, %Y" %}

<article class="archive-item">
  <div class="archive-item__content">
    <h2 class="archive-item__title">
      <a href="{{ post.link | default: post.url | relative_url }}">
        {{ post.title }}
      </a>
    </h2>
    <div class="archive-item__meta">
      {% if post.venue %}
        <span class="archive-item__meta__venue">{{ post.venue }}</span>
      {% endif %}
      {% if post.date %}
        <span class="archive-item__meta__date">{{ post.date | date: date_format }}</span>
      {% endif %}
    </div>
    <div class="archive-item__excerpt">
      {{ post.excerpt | markdownify }}
    </div>
  </div>
</article>